@import "../shared/shared";

#login_background{
    background: url('/assets/login_bg.jpg') center center;
    filter: grayscale(50%);

    width: 100vw;
    height: 100vh;

    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;

    &:before{
        content: "";

        position: absolute;
        left: 0;
        top: 0;
        
        width: 100vw;
        height: 100vh;

        background: rgba($black, .6);
    }
}

#login_screen{
    max-width: 100%;
    width: 720px;

    margin: 100px auto;

    position: relative;

    border-radius: 5px;
    overflow: hidden;

    .page_description{
        width: 320px;
        padding: 100px 30px;

        background: rgba($blue, .8);

        .page_title{
            color: $white;
            font-weight: 700;
            font-size: 40px;
        }

        .page_subtitle{
            padding: 15px 0;
            border-bottom: 1px solid rgba($white, .4);

            color: $white;
            font-size: 12px;
        }

        .page_features{
            padding-top: 30px;

            .features_item{
                .feature_icon{
                    display: inline-block;
                    vertical-align: middle;

                    width: 40px;
                    height: 40px;

                    color: $white;
                    font-size: 24px;
                    font-family: $iconfont;
                    line-height: 40px;
                }

                .feature_text{
                    display: inline-block;
                    vertical-align: middle;

                    width: calc(100% - 40px);

                    color: rgba($white, .9);
                    font-size: 14px;
                    line-height: 40px;
                }
            }
        }
    }

    .login_form{
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;

        width: 400px;
        height: 100%;
        padding: 75px 30px 0;

        background: $white;

        .login_title{
            font-size: 14px;

            padding-bottom: 15px;
        }

        label{
            display: block;

            border: 1px solid $lightgrey;
            border-bottom: 0;

            &:first-of-type{
                border-radius: 5px 5px 0 0;
            }
            &:last-of-type{
                border-bottom: 1px solid $lightgrey;
                border-radius: 0 0 5px 5px;
            }

            .form_label{
                display: inline-block;
                vertical-align: middle;

                width: 40px;

                text-align: center;
                font-size: 24px;
                font-family: $iconfont;
                color: $grey;
            }

            input{
                display: inline-block;
                vertical-align: middle;

                width: calc(100% - 40px);
                height: 50px;
                padding: 0;

                border: 0;
            }
        }

        .form_submit{
            padding-top: 15px;

            button{
                width: 100%;
                height: 50px;

                border-radius: 5px;
            }
        }

        .forgot_credentials{
            margin-top: 10px;

            text-align: right;

            a{
                font-size: 12px;
                color: $grey;
            }
        }

        .signup{
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;

            display: block;
            width: 100%;

            background: $grey;

            color: $white;
            text-align: center;
            line-height: 100px;

            transition: background .3s;

            &:hover{
                background: lighten($grey, 10%);
            }
        }
    }
}

@media(max-width: 749px){
    #login_screen{
        .page_description{
            display: none;
        }

        .login_form{
            max-width: calc(100% - 30px);
            margin: auto;
            padding: 30px;

            position: relative;

            .signup{
                position: static;

                margin-top: 10px;
                border-radius: 5px;

                line-height: 50px;
            }
        }
    }
}