<div id="login_background"></div>

<div id="login_screen">
    <div class="page_description">
        <div class="page_title">Dragões</div>
        <div class="page_subtitle">Catálogo das mais majestosas criaturas</div>

        <ul class="page_features">
            <li class="features_item">
                <div class="feature_icon">list</div>

                <div class="feature_text">Liste</div>
            </li>

            <li class="features_item">
                <div class="feature_icon">plus_one</div>

                <div class="feature_text">Crie</div>
            </li>

            <li class="features_item">
                <div class="feature_icon">edit</div>

                <div class="feature_text">Edite</div>
            </li>

            <li class="features_item">
                <div class="feature_icon">close</div>

                <div class="feature_text">Delete</div>
            </li>
        </ul>
    </div>

    <form class="login_form" (submit)="doLogin()" [formGroup]="form">
        <div class="login_title">Entre suas credenciais:</div>

        <label>
            <div class="form_label">person</div>
            <input type="text" placeholder="Usuário" formControlName="username" autofocus>
        </label>

        <label>
            <div class="form_label">lock</div>
            <input type="password" placeholder="Senha" formControlName="password">
        </label>

        <div class="form_submit">
            <button type="submit">Log in</button>
        </div>

        <div class="forgot_credentials">
            <a href="javascript:;">Esqueci minhas credenciais</a>
        </div>

        <a href="javascript:;" class="signup">Cadastre-se</a>
    </form>
</div>